@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font-color: 248, 251, 252;
  --background-color: 15, 30, 31;
  --primary-color: 53, 108, 108;
  --secondary-color: 14, 47, 57;
  --acent-color: 67, 175, 208;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: rgba(var(--acent-color), 0.5);
}

body {
  background-color: rgba(var(--background-color), 0.5);
}

/* Common  */
.flex-display {
  display: flex;
}

.medium-fontSize {
  font-size: 1.5rem;
}

.default-text {
  font-family: 'Roboto', sans-serif;
  color: rgba(var(--font-color));
}

/* Nav */
nav {
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-content: center;
  z-index: 100;
  padding: 1rem 3rem;
  background-color: rgba(var(--background-color), 0.9);
}

.nav-list {
  gap: 5rem;
  list-style: none;
}

.nav-link{
  text-decoration: none;
}

/* Hero */
.hero {
  min-height: 100dvh;
  background-image: url('./assets/hero-img.jpg');
  background-position: center;
  background-size: cover;
}

.hero-text {
  padding: 19.5rem 10rem 12rem 10rem;
}

.hero-text > h3 {
  font-size: 4rem;
}

.hero-text > h1 {
  font-size: 5rem;
}

.hero-text > h2 {
  font-size: 3rem;
}

.hero-btnContainer {
  margin-top: 1rem;
  gap: 1.5rem;
}

.hero-button {
  padding: 1.25rem;
  background-color: rgba(var(--primary-color));
  border-radius: 1rem;
  cursor: pointer;
}

/* Projects */
.project-section {
  flex-direction: column;
  gap: 2rem;
  padding: 0 10rem 5rem;
  background-color: rgba(var(--background-color));
}

.section-title {
  justify-content: center;
  padding: 3.5rem 0 0;
  font-size: 5rem;
}

.projectContainer {
  justify-content: center;
  gap: 2rem;
}

.project-image {
  aspect-ratio: 1.5 / 1;
  max-width: 50%;
  object-fit: cover;
  object-position: center;
}

.project-infoContainer {
  background-color: rgba(var(--secondary-color), 0.4);
  padding: 1.5rem 3rem 0;
}

.project-title {
  justify-content: center;
  padding-bottom: 1.5rem;
  font-size: 3rem;
}

.project-info {
  padding-bottom: 2rem;
  font-size: 2rem;
  border-bottom: 2px solid rgba(var(--primary-color));
}

.project-built-with {
  padding-top: 2rem;
  font-size: 1.5rem;
}

.project-btnContainer {
  justify-content: flex-end;
  margin-top: 1.5rem;
  gap: 2rem;
}

.project-btn {
  padding: 1rem 1.5rem;
  background-color: rgba(var(--primary-color));
  border-radius: 1rem;
  cursor: pointer;
}

/* About Section */
.about-section {
  padding: 0 10rem 8rem;
  background-color: rgba(var(--background-color), 0.9);
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 3rem;
}

.about-me{
  padding-bottom: 1rem;
  border-bottom: 4px solid rgba(var(--primary-color));
  line-height: 3rem;
  font-size: 1.85rem;
}

.about-info > h6 {
  justify-content: center;
  padding-top: 1rem;
  font-size: 2rem;
  line-height: 2.5rem;
}

.about-skills {
  flex-direction: column;
  align-items: center;
}

.about-skills > h6 {
  font-size: 2.5rem;
}

.skill-iconContainer {
  padding-top: 1rem;
  gap: 1rem;
}

/* Contact Section */
.contact-section {
  padding: 0 10rem 4rem;
  background-color: rgba(var(--background-color), 0.8);
}

.contact-container {
  padding-top: 2rem;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.contact-container > h6 {
  font-size: 3.5rem;
}

.contact-resume {
  padding: 1rem 5rem;
  background-color: rgba(var(--primary-color));
  font-size: 3rem;
  border-radius: 1rem;
  cursor: pointer;
}

.contact-social {
  justify-content: center;
  padding-top: 2rem;
  gap: 2rem;
}

/* Media */
@media (max-width: 640px) {
  nav {
    justify-content: center;
  }

  .nav-name {
    display: none;
  }

  .nav-list {
    gap: 3rem;
  }

  .hero-text {
    display: grid;
    justify-items: center;
    padding: 18rem 1rem 4rem 1rem;
  }
  
  .hero-text > h3 {
    font-size: 2.5rem;
  }
  
  .hero-text > h1 {
    font-size: 3.5rem;
  }
  
  .hero-text > h2 {
    font-size: 1.20rem;
  }

  .hero-btnContainer {
    margin-top: 2rem;
    gap: 1.25rem;
  }

  .hero-button {
    padding: 0.75rem;
  }

  .project-section {
    padding: 0 1rem 2rem;
  }

  .section-title {
    padding: 2rem 0 0;
    font-size: 3rem;
  }
  
  .projectContainer {
    flex-direction: column;
    gap: 0.5rem;
  }

  .project-image {
    max-width: 25rem;
  }

  .project-title {
    font-size: 2.25rem;
  }

  .project-infoContainer {
    background-color: rgba(var(--secondary-color));
    padding: 1rem;
  }

  .project-info {
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }

  .project-built-with {
    padding: 1rem 0;
    font-size: 1.25rem;
  }

  .project-btnContainer {
    justify-content: center;
    margin-top: 0;
  }

  .project-btn {
    font-size: 1.5rem;
    padding: 1rem 1rem;
  }

  .about-section {
    padding: 0 1rem 2rem
  }

  .about-container {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  
  .about-info {
    padding: 2rem 0 1rem 0;
  }

  .about-me{
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  .about-info > h6 {
    padding-bottom: 1rem;
    border-bottom: 4px solid rgba(var(--primary-color));
    font-size: 1.75rem;
  }

  .about-skills {
    flex-direction: column;
    align-items: center;
    padding-top: 0rem;
  }

  .contact-section {
    padding: 0 1rem 2rem;
  }

  .contact-container {
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
  }

  .contact-container > h6 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    border-bottom: 4px solid rgba(var(--primary-color));
  }

  .contact-social {
    padding-top: 1rem;
  }

}